<form method="POST" action="{{ path('product-delete_product', {'id': product.id}) }}">    
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-icon red darken-2">
        <i class="material-icons">delete</i>
    </button>
</form>