<div class="filter">
    <label for="sort_by">Sort By:</label>

    <select name="sort_by" id="sort_by">
        <option value="price_asc">Price ASC</option>
        <option value="price_desc">Price Desc</option>
    </select>
</div>