{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}
    <main>
        <section class="section section-add-product">
            <div class="container">
                <h4 class="m-0">Add Product</h4>
            </div>

            <div class="container pt-50">
                {{ include('product/_form.html.twig', {'label': 'Create'}) }}
            </div>
        </section>
    </main>
{% endblock %}
